---
layout: page
type: item
titles:
  # @start locale config
  en      : &EN       Work
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  归档
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  歸檔
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       아카이브
  ko-KR   : *KO
  fr      : &FR       Archives
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
---
<p>This is my portfolio from June 2019 to January 2021. It is available on the public web, but intended specifically for the DMA committee at the Yale School of Music. Members of the committee can navigate this site in two ways:</p>
<ul style="margin-left: 2em">
  <li>Click any item, then use the "previous" and "next" links at the bottom of the page.</li>
  <li>Return to this page by clicking "Nate May, composer and educator" at the top.</li>
</ul>
<p>Some items have "private links" to scores, programs, etc. When following these links, you may be prompted to log in to Google. <strong>All links will be viewable if you are logged into a Yale account.</strong></p>
<p>Thank you for your time and consideration.</p>
<p>-Nate</p>
<br />
<div class="layout--archive js-all">
  {%- include tags.html -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>


{{ content }}
